__pycache__/
*.pyc
*.env
.vscode/
planed_features.txt
./data
data/data.csv
data/text_generator.py
data/app.py.bak
./db_backups
src/db_backups/
*.sql
project_structure.txt
terminal_commands.txt
project_structure.txt